<form action="signup-submit" method="post">
  <input type="text" name="username" placeholder="Enter your username...">
  <br>
  <input type="password" name="password" placeholder="Enter a password">
  <br>
  <input type="submit" value="Signup">
</form>
<br>
